# Compiled / byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Generated at compilation time
bindings/_ptools.cpp
PyAttract/cgopt.c


# Unit test / coverage
Tests/1F88.pdb


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
*.egg-info
*.egg

# Text-editors
*~
.*.swp


# Build generated version files
version.tmp
headers/gitrev.h

# LaTeX temporary files
Tutorial/doc/tutorial.aux
Tutorial/doc/tutorial.bbl
Tutorial/doc/tutorial.blg
Tutorial/doc/tutorial.log
Tutorial/doc/tutorial.out
Tutorial/doc/tutorial.pdf
Tutorial/doc/tutorial.toc

